<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'World Trip', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</header>
